n8n/workflows/wf5_daily_digest.json
{
  "name": "WF-5 Daily Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 0 9 * * *" }
          ]
        }
      },
      "id": "b0707ec4-f805-4b22-b800-4794d8107cb3",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "opspilot-digest",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "420b7933-426a-4b45-b171-984e81f5d3dd",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 180]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8010/stats",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{ "name": "hours", "value": "24" }]
        },
        "options": { "timeout": 10000 }
      },
      "id": "553f2903-35bc-4dec-bcff-54c8e3299669",
      "name": "Get Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 90],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8010/summarize",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ stats: $json }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "options": { "timeout": 10000 }
      },
      "id": "3495ca09-0f37-405b-b189-381159359c2c",
      "name": "Summarize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 90],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "PLACEHOLDER_OPS_CHAT_ID",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "6e01e41c-1dea-4d6f-a50e-588aabbf1834",
      "name": "Send Digest To Ops",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [660, 0],
      "credentials": {
        "telegramApi": { "id": null, "name": "Telegram - OpsPilot" }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://api.notion.com/v1/blocks/PLACEHOLDER_NOTION_PAGE_ID/children",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Notion-Version", "value": "2022-06-28" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ children: [ { object: \"block\", type: \"heading_2\", heading_2: { rich_text: [ { type: \"text\", text: { content: $now.format('yyyy-LL-dd') } } ] } }, { object: \"block\", type: \"paragraph\", paragraph: { rich_text: [ { type: \"text\", text: { content: $json.text } } ] } } ] }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "a41754e7-d692-49cf-ad64-6a3f8c44b760",
      "name": "Append To Notion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 180],
      "credentials": {
        "notionApi": { "id": null, "name": "Notion - OpsPilot" }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Get Stats", "type": "main", "index": 0 }]]
    },
    "Webhook": {
      "main": [[{ "node": "Get Stats", "type": "main", "index": 0 }]]
    },
    "Get Stats": {
      "main": [[{ "node": "Summarize", "type": "main", "index": 0 }]]
    },
    "Summarize": {
      "main": [
        [
          { "node": "Send Digest To Ops", "type": "main", "index": 0 },
          { "node": "Append To Notion", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Kyiv"
  }
}
